*{
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(Lato/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Cyber';
    src: url(sd-cyber-glitch-font/Demosdcyberglitch-yw6GM.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro Semibold';
    src: url(source-sans-pro/SourceSansPro-Semibold.otf) format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(source-sans-pro/SourceSansPro-Regular.otf) format('opentype');
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navtext {
    font-family: 'Lato-Bold';
    font-size: 22px;
    cursor: pointer;
}

.logo {
    width: 120px;
    font-family: 'Cyber';
    color: #e49400;
    font-size: 112px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #e27900;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.textbox {
    width: 1800px;
    height: 710px;
    background: rgba(10, 10, 10, 0.8);
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 58%;
    left: 50%;
    color: white;
    border-radius: 15px;
    flex-direction: column;
    word-wrap: break-word;
    overflow-y: scroll;
}

.aurora {
    width: 90%;
    height: 16vh;
    transform: translate(5%, 0%);
    background-size: cover;
    background-position: center;
    display: block;
    opacity: 0.9;
}

.xss {
    width: 80%;
    height: 15vh;
    transform: translate(13%, 0%);
    background-size: cover;
    background-position: center;
    display: block;
    opacity: 0.9;
}

.textbox h1 {
    text-align: center;
    font-family: 'Source Sans Pro Semibold';
    font-size: 38px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.textbox h2 {
    font-family: 'Source Sans Pro Semibold';
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 55px;
}

.textbox p {
    font-family: 'Source Sans Pro';
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 15px;
    font-size: 18px;
}

@media (max-width: 1300px) {
    .logo {
        width: 11vh;
        font-size: 86px;
    }

    .navbar {
        width: 90%;
        padding: 2vh 0;
    }

    .navbar ul li {
        margin: 0 1vh;
    }

    .navtext {
        font-size: 20px;
    }

    .textbox {
        width: 220vh;
        height: 76vh;
        background: rgba(10, 10, 10, 0.8);
        display: flex;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 58%;
        left: 50%;
        color: white;
        border-radius: 15px;
        flex-direction: column;
        word-wrap: break-word;
        overflow-y: scroll;
    }
}

@media (max-width: 428px) {
    .logo {
        width: 8vh;
        font-size: 64px;
        display: block;
        transform: translate(70%, 0%);
    }

    .banner {
        height: 205vh;
    }

    .navbar {
        width: 50vh;
        margin: auto;
        padding: 2.7vh 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar ul li {
        margin: 0 0.5vh;
        transform: translate(0%, 250%);
        left: -13%;
    }

    .navtext {
        font-size: 18px;
    }

    .textbox {
        width: 50vh;
        height: 132vh;
        transform: translate(-50%, -50%);
        top: 96%;
        left: 50%;
        border-radius: 1.6vh;
        margin-bottom: 5vh;
        margin-top: 1vh;
    }

    .textbox p {
        margin-left: 2vh;
        margin-right: 2vh;
        margin-top: 1.6vh;
    }

    .navbar ul li:hover::after {
        width: 0%;
    }
}