<!DOCTYPE html>
<html>
    <head>
        <title>CyberKit</title>
        <link rel="stylesheet" href = "../static/metadata.css">
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <h1 class="logo">Cyberkit</h1>
                <ul>
                    <li class = "navtext"><a href="/">Home</a></li>
                    <li class = "navtext"><a href="/keylogger">Keylogger</a></li>
                    <li class = "navtext"><a href="/metadata">Metadata Sniffer</a></li>
                </ul>
            </div>
        </div>

        <div class="textbox">
            <h1>Metadata Sniffer</h1>
            <table>
                <tr class="titles">
                    <th>Browser</th>
                    <th>Operating System</th>
                    <th>Language</th>
                    <th>Timezone Location</th>
                    <th>Referrer</th>
                    <th>Cookies</th>
                    <th>Host Name</th>
                    <th>Host IP Address</th>
                    <th>Client IP Address</th>
                    <th>Your Public IP Address</th>
                </tr>

                <tr class="body">
                    <td id="browser"></td>
                    <td id="os"></td>
                    <td id="language"></td>
                    <td id="timezone"></td>
                    <td id="referrer"></td>
                    <td id="cookies"></td>
                    <td id="hname"></td>
                    <td id="hip"></td>
                    <td id="cip"></td>
                    <td id="pip"></td>
                </tr>
            </table>
            <p>
                Above is a table with just some of the metadata that can be collected from you, purely by visiting a website. But what really is metadata?
                Well metadata is a type of data that provides information about other data! It can be the timestamp of a message, location taken of an image,
                or even the cookies that get sent on a website. But why is metadata important to hackers and how can it be used? Surely the information that
                was extracted from you in the table is harmless?
                <br><br>
            </p>
            <h2>Is our metadata really harmless?</h2>
            <h3>Browser and Operating System</h3>
            <p>
                Well yes and no. For instance, take the first two entries which are your browser and operating system. While this may also seem like quite
                harmless knowledge, this allows hackers to take advantage of known security flaws in such systems once they know exactly what you're using.
                <br><br>
            </p>
            <h3>Language, Public IP and Timezone</h3>
            <p>
                On the other hand, the language, public IP address and even the timezone location fields despite looking possibly scary are fairly harmless!
                While your timezone location and public IP address can help hackers craft more convincing phishing schemes, on their own they won't be able
                to do much. Hackers are normally after digital information to be able to impersonate you online, so despite them knowing your country or city
                might seem scary, there's not much to act on there.
                <br><br>
            </p>
            <h3>Referrer</h3>
            <p>
                The referrer is a fairly interesting piece of metadata that tells the website exactly what other website you came from. Importantly, this
                only works if you are loading a https website from a https website or a http website from a http website. For security reasons, modern
                browsers will block referrer information if you load between http and https websites! Using referrers, hackers can discover exactly
                what website you most recently visited which they can use to track or potentially steal your information.
                <br><br>
            </p>
            <h3>Cookies</h3>
            <p>
                Cookies are incredibly important to security and privacy as they reveal everything about your activities on a website. Any sort of interaction
                you may perform is generally recorded as a cookie. While a cookie can only be read by the website that created it for that very reason,
                hackers can still obtain them via XSS attacks, network sniffing or even social engineering! Imagine someone else knowing every single post you
                liked and every interaction you have ever had on a website. Not only can they now target their efforts more efficiently, but if they gain access
                to your session cookies they have access to your entire account on that website. That can be quite catastrophic especially if it was your bank
                account!
                <br><br>
            </p>
            <h3>Host and Client IP Addresses</h3>
            <p>
                The host IP address is the IP address of the server that hosts the website, whilst the client IP address is the address that 
                Whilst the client IP address shown will most likely be your localhost (i.e a loopback address), if you were to download and run the files of this
                website from GitHub it would display that as your host IP address, and the client IP address would be your private network address. This would
                happen because you would become the host of the website, which is why you should never install files from places you don't trust!
                <br><br>
            </p>
            <h2>How can we stay safe?</h2>
            <p>
                While it's impossible to hide all metadata associated to you, there are a number of ways you can minimise how much others know about you.
                A few ways to do this is to use a VPN, accept the least number of cookies you can, and erase any metadata from a file before you upload it.
                All our files such as photos taken from our phone include metadata such as the location these photos were taken in. Whenever you upload a photo,
                try to strip all its metadata first, as uploading it carelessly can give people a lot of information about you! Not all websites like OpenLearning
                do this automatically.
                <br><br>
            </p>
        </div>

        <script>
            const browser = document.getElementById("browser");
            const broswerText = navigator.userAgent.replace(/ *\([^)]*\) */g, "");
            browser.innerHTML = broswerText;

            const os = document.getElementById("os");
            const osText = navigator.userAgent.match(/\(([^)]+)\)/)[1];
            os.innerHTML = osText;

            const language = document.getElementById("language");
            language.innerHTML = navigator.language;

            const timezone = document.getElementById("timezone");
            timezone.innerHTML = Intl.DateTimeFormat().resolvedOptions().timeZone;

            const referrer = document.getElementById("referrer");
            referrer.innerHTML = "{{ referrer }}";

            const cookies = document.getElementById("cookies");
            cookies.innerHTML = document.cookie;

            const hostName = document.getElementById("hname");
            hostName.innerHTML = "{{ hostName }}";

            const hostIp = document.getElementById("hip");
            hostIp.innerHTML = "{{ hostIp }}";

            const clientIp = document.getElementById("cip");
            clientIp.innerHTML = "{{ clientIp }}";

            const publicIp = document.getElementById("pip");
            publicIp.innerHTML = "{{ publicIp }}";
        </script>
    </body>
</html>